
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="menu-outer-wrap">
			<div class="menu-wrap">
				<ul class="menu">
					<li><a href="">Игры</a></li>
					<li><a href="">О проекте</a></li>
					<li><a href="">Подписка</a></li>
				</ul>
			</div>
			<div class="menu-wrap">
				<ul class="menu">
					<li><a href="">Контакты</a></li>
					<li><a href="">Политика конфиденциальности</a></li>
					<li><a href="">Договор-оферты</a></li>
				</ul>
			</div>
		</div>
		<div class="info-outer-wrap">
			<div class="logo-wrap">
				<a href="" class="logo">
				<span class="logo-pic">
					<img src="./img/main/logo.svg" alt="">
				</span>
					<span class="logo-title">Говорушка</span>
				</a>
			</div>
			<div class="info-wrap">
				<p>© 2022 ИП Баранова <br>Аграфена Сергеевна</p>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->